@import 'common.css';

.container .opponents {
	margin-bottom: 40px;
}

.container .opponents .player,
.container .opponents .attack-button {
	display: inline-block;
	border: 1px solid #000;
	vertical-align: middle;
	font-size: 22px;
}

.container .opponents .player {
	width: 200px;
    height: 250px;
	text-align: center;
	margin: 0 50px;
}

.container .opponents .attack-button {
	width: 80px;
	height: 80px;
}

.container .opponents .player .caption {
	position: relative;
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
}

.container .opponents .player .name {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 40px;
}

.container .opponents .player .progress-bar {
	border: 1px solid #000;
	height: 20px;
    width: 170px;
    margin: 0 auto 20px;
}

.container .opponents .player .progress {
	display: block;
	background: #00f;
	height: 20px;
	color: #fff;
	font-size: 16px;
}

.container .log {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    padding: 10px 20px;
    height: 100px;
	border: 1px solid #000;
    overflow: scroll;
}

.modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}