@import 'common.css';

.container .login-form {
	width: 200px;
	height: 200px;
}

.container .login-form input, button {
	margin-bottom: 15px;
	height: 25px;
	width: 100%;
}

.container .login-form input[type="submit"] {
	height: 30px;
}

.error {
	color: #f00;
	font-size: 12px;
	margin-top: -12px;
	margin-bottom: 12px;
}